<!DOCTYPE html>
<html lang="jp">
{{ template "partials/header.html" . }}
<body>
  <div id = "wrapper">
    {{ template "partials/sidebar.html" . }}
    {{ template "partials/navbar.html" . }}

    <div id="article">
      <div class="article-title">{{ .Title }}</div>
      <div class="post">
        {{ .Content }}

        {{ $tags := .Params.tags }}
        {{ $pageLink := .Permalink }}
        <ul>
          {{ range .Site.Pages }}
          {{ $page := . }}
          {{ $hasTags := intersect $tags .Params.tags | len | lt 0 }}
          {{ if and $hasTags (ne $pageLink $page.Permalink )}}
          <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>

    <a href="https://twitter.com/share" class="twitter-share-button " data-size="small" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div style="padding:20px;">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ template "partials/footer.html" }}
  </div>
</body>
</html>
