<!DOCTYPE html>
<html lang="jp">
{{ template "partials/header.html" . }}
<body>
  <div id = "wrapper">
    <div id="main-wrapper">
      <div id="article">
        <div class="article-title">List of articles</div>
        <ul class="posts">
          {{ range .Site.Pages }}<li><span><a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span></li>{{ end }}
        </ul>
      </div>

      <a href="https://twitter.com/share" class="twitter-share-button " data-size="small" data-count="none">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      {{ template "partials/footer.html" }}
    </div>
    {{ template "partials/sidebar.html" . }}
  </div>
</body>
</html>
